body{    
    font-family: 'Lato', sans-serif;
}
.cover{
    position: relative;
    z-index: 0;
    width: 100;
    background: #e79702;
}
.phone{
    z-index: 1;
    font-weight: 200px;
}
.phone i{
    color: black;
}
.phone a{
color: black;
font-size: 13px;
font-weight: bold;
}
.reg{
    width: 50%;
    text-align: right;
}
.reg a{
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;

}
.social-icon{
    display: inline-block;
    width: 50%;
}
.social-icon p{
    display: block;
    width: 100%;
}
.social-icon p a{
    height: 30px;
    margin-right: 10px;

}
.social-icon p a i{
    font-size: 13px;
    color: black;
}
.social-icon p a:hover{
    background: #f8aa02;
    border-color: #f8aa02;
}
.social-icon p a:hover i{
    color:#fff;
}
.bg-color{
    background:black;

}
.navbar-brand{
    color: #f8aa02;
    font-weight: bold;
    font-size: 35pv!important;
}
.nav-link{
    font-weight: bold;
    color: #f8aa02;
    font-size: 20px;
}
.menu-bar{
    text-align:center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    font: 10px ;
}
.btn-group{
    color: #f8aa02;
}
.navbar-toggler i{
    color: #f8aa02;
}
#hero{
    display: table;
    width: 100%;
    height: 100vh;
    background: url(./images/alex_rainer.jpg)top center; 
    background-size: cover;
}
@media(min-width:1024px){
    #hero{
        background-attachment: fixed;
    }
}
#hero-hero-logo{
    margin: 20px;
    max-width: 100%;

}
#hero .hero-container{
    background: rgba(0,0,0,0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
#hero h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;

}@media(max-width:768px){
    #hero h1{
        font-size: 30px;
        line-height: 36px;
    }
}
#hero h2{
    color: #fff;
    margin-bottom: 50px;
    font-style: italic;
}
@media(max-width:768){
    #hero h2{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
}
#hero .action a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero .btn-get-started{
    background: #ebe703;
    border: 2px solid #a85303;
    color: #fff;
}
#hero .btn-get-started:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}
.


.variety{
    padding-bottom: 40px;
}
.varietry .card{
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}
.variety .card-img{
    width: calc(100%+60px);
    margin-left: -30px;
    overflow:hidden;
    z-index: 9;
    border-radius: 0;
}
.variety .card-img img{
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}
.variety .card-body{
    z-index: 10;
    background: #ffab0496;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(241,159,5,0.5);
    margin-top: -60px;
    transition: 0.3s;
}
.variety .card-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.variety .card-title a{
    color: black;
    transition: 0.3s;
}
.variety .card-text{
    color: black;
    font-style:italic;
    font-size: medium;
    font-family: sans-serif;
    font-weight: 600;
}
.variety .read-more a{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    transition: 0.3s;
}
.variety .read-more a:hover{
    color: #854101;

}
.variety .card:hover img{
    transform: scale(1.1);
}
.variety .card:hover .card-body{
    border-color: #fdc134;

}
.variety .card:hover .card-body .card-title a{
    color:#854101;
}
.container .tef{
    color: maroon;
    text-align: center;
    font-size:40px;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bolder;
}
.container p{
    font-weight: 600;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: #a85303;
}
